.home_container {
  margin: 0;
  width: 100%;
  min-height: 86vh; 
  /* background-image: url("../../images/school.jpg");
  object-fit: contain;
  background-size: cover; */
  background-color: white;
  padding-top: 10vh;
}
.home_description {
  color: white;
  width: 50vw;
  margin: 0 auto;
  /* margin-left: 2vw; */
  font-size: 1.5vw;
  /* background:   linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));  */
  background-color: black;
  padding: 1em;
  border-radius: 20px;
  font-family: "Cinzel", serif;
  text-transform: uppercase;
}
.highlited_text {
  font-family: "Goblin One", cursive;
  color: tomato;
}
.home_button_container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
.home_button {
  height: 4vh;
  width: 15vw;
  background-color: #f86e24;
  border: none;
  color: white;
  font-family: cursive;
  font-weight: bold;
  font-size: 1.5vw;
  cursor: pointer;
}

.home_register_button {
  background: transparent;
  border: 1px solid white;
}
